/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: Montserrat, sans-serif;
}

/* Header */
header {
    background-color: aqua;
}

/* Main Content */ 
main {
    background-color: blue;
    /* Enlarge main element to push down footer */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: brown;
}