/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: Montserrat, sans-serif;
}

h1, h2 {
    font-family: Rubik, sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 4px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Rouge Script', serif;
    margin-left: 5px;
    padding: 3px;
}

#menu {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2px;
    align-items: baseline;
}

#menu li {
    font-size: smaller;
    margin-right: 3px;
    padding: 3px;
}

.active {
    border-bottom: 2px solid black;
}

/* Main Content */
main {
    /* Enlarge main element to push down footer */
    flex: 1 0 auto;
    /* Add margin at the top to prevent from being covered by header */
    margin-top: 50px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/worcester-city-hero.jpg) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(148, 216, 251, .7);
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 70%;
    min-height: 180px;
    padding-top: 20px;
    padding-left: 10px;
    color: #ffffff;
}

#cover-text > h2 {
    font-family: 'Rouge Script', serif;
    font-size: 200%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

#social-networks {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
    padding: 5px;
    gap: 15px;
}

#social-networks i {
    font-size: 150%;
    padding: 5px;
}

h2 {
    font-size: 1.1255em;
}

.copyright {
    font-size: 0.6em;
} 

i {
    font-size: xx-small;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        box-shadow: none;
    }

    #menu {
        gap: 10px;
    }

    #menu li {
        font-size: 16px;
        padding: 5px;
    }

    /* Main content */
    /* Hero */
    #cover-text {
        width: 270px;
        right: 50px;

    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #social-networks {
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin: 0 20px;
        padding: 5px;
    }

    #registered-marks {
        width: 50%;
        height: 100%;
        margin: 0 20px;
        padding: 5px;
    } 
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {

    /* Header */
    #logo {
        font-size: 2.5em;
    }

    #menu {
        font-size: 120%;
    }

    #menu a:hover {
        border-bottom: 2px solid black;
    }

    /* Main Content*/
    main {
        /* Add margin at the top to prevent from being covered by header */
        margin-top: 60px;
    }
}

/* Media query: laptops and desktops (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Header */
    #logo {
        font-size: 3em;
    }

    #menu li {
        font-size: 110%;
    }

    /* Main Content*/
    main {
        /* Add margin at the top to prevent from being covered by header */
        margin-top: 70px;
    }
}

/* Media query: desktops and 4k (1800px and up) */
@media screen and (min-width: 1800px) {

    /* Header */
    #logo {
        font-size: 3em;
    }

    #menu {
        font-size: 110%;
        gap: 30px;
    }

    /* Main content */
    /* Hero */
        #cover-text {
        height: 250px;
        width: 400px;
        left: 750px;
        text-align: center;
        font-size: 1.8em;
    }

    /* Footer */
    footer {
        justify-content: space-evenly;
        width: 100%;
        gap: 50px;
    }
    #social-networks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 110%;
        padding: 20px 10px;
        gap: 50px;
    }

    li {    
        padding-top: 30px;
    }

    #registered-marks {
        width: 20%;
        text-align: center;
    }

    .copyright {
        font-size: 0.8em;
    }

    i {
        font-size: small;
    }
}